html {
  scroll-behavior: smooth;
}

u {
  text-decoration-color: #3c87cd;
  text-decoration-thickness: 4px;
}

a {
  color: #3c87cd;
  font-weight: bold;
}

.landing {
  background: rgb(10, 23, 35);
  background: linear-gradient(
    180deg,
    rgba(10, 23, 35, 1) 65%,
    rgba(10, 23, 35, 0.92) 100%
  );
}

/* Top waves */
.custom-shape-divider-bottom-1631354411 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1631354411 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
}

@media (max-width: 767px) {
  .custom-shape-divider-bottom-1631354411 svg {
    height: 50px;
  }
}
@media (min-width: 768px) {
  .custom-shape-divider-bottom-1631354411 svg {
    height: 70px;
  }
}

@media (min-width: 1280px) {
  .custom-shape-divider-bottom-1631354411 svg {
    height: 100px;
  }
}
@media (min-width: 1536px) {
  .custom-shape-divider-bottom-1631354411 svg {
    height: 130px;
  }
}

.custom-shape-divider-bottom-1631354411 .shape-fill {
  fill: #f1f7f8;
}

/* Bottom waves */
@media screen and (min-width: 900px) {
  .custom-shape-divider-bottom-1631356239 {
    display: none;
  }
  .custom-shape-divider-bottom-1631355392 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .custom-shape-divider-bottom-1631355392 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
  }

  .custom-shape-divider-bottom-1631355392 .shape-fill {
    fill: #0a1723;
  }
}

@media screen and (max-width: 900px) {
  .custom-shape-divider-bottom-1631355392 {
    display: none;
  }
  .custom-shape-divider-bottom-1631356239 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .custom-shape-divider-bottom-1631356239 svg {
    position: relative;
    display: block;
    width: calc(169% + 1.3px);
    height: 83px;
  }

  .custom-shape-divider-bottom-1631356239 .shape-fill {
    fill: #0a1723;
  }

  /** For tablet devices **/
  @media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-bottom-1631356239 svg {
      width: calc(169% + 1.3px);
      height: 129px;
    }
  }

  /** For mobile devices **/
  @media (max-width: 767px) {
    .custom-shape-divider-bottom-1631356239 svg {
      width: calc(167% + 1.3px);
      height: 100px;
    }
  }
}

@media (max-width: 375px) {
  .landing-img {
    max-height: 25vh;
  }
}

@media (min-width: 375px) and (max-width: 1280px) {
  .landing-img {
    max-height: 30vh;
  }
}

@media (min-width: 1280px) {
  .landing-img {
    max-height: 40vh;
  }
}

@media (max-height: 667px) {
  .bottom-landing-links {
    padding-bottom: 3rem;
  }
}

article {
  line-height: 2.2;
}

article h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Martel', system-ui, sans-serif;
}

article h1 {
  font-size: 1.4rem;
  margin-top: 1.8rem;
}

article h2 {
  font-size: 1.2rem;
  margin-top: 1.4rem;
}

article h3 {
  font-size: 1rem;
  margin-top: 1.2rem;
}

article ul {
  list-style: disc inside none;
}

article ol {
  list-style: decimal inside none;
}

blockquote {
  font-size: 1.2em;
  margin: 2em auto;
  font-style: italic;
  color: #555555;
  padding: 1.2em 30px 1.2em 55px;
  border-left: 8px solid #9fe5bf;
  line-height: 2;
  position: relative;
}

blockquote::before {
  font-family: Arial;
  content: '\201C';
  color: #9fe5bf;
  font-size: 4em;
  position: absolute;
  left: 10px;
  top: -10px;
}

blockquote::after {
  content: '';
}

article pre,
article img {
  border-radius: 0.25rem;
}

article img {
  max-height: 50vh;
}

code:not([class])::before {
  content: '`';
}
code:not([class])::after {
  content: '`';
}
code:not([class]) {
  color: #3c87cd;
}
