html {
  scroll-behavior: smooth;
}

u {
  text-decoration-color: #3c87cd;
  text-decoration-thickness: 4px;
}

a {
  color: #3c87cd;
  font-weight: bold;
}

/* Top waves */
.custom-shape-divider-bottom-1631354411 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1631354411 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
}

@media (max-width: 767px) {
  .custom-shape-divider-bottom-1631354411 svg {
    height: 50px;
  }
}
@media (min-width: 768px) {
  .custom-shape-divider-bottom-1631354411 svg {
    height: 70px;
  }
}

@media (min-width: 1280px) {
  .custom-shape-divider-bottom-1631354411 svg {
    height: 100px;
  }
}
@media (min-width: 1536px) {
  .custom-shape-divider-bottom-1631354411 svg {
    height: 130px;
  }
}

.custom-shape-divider-bottom-1631354411 .shape-fill {
  fill: #f1f7f8;
}

/* Bottom waves */
@media screen and (min-width: 900px) {
  .custom-shape-divider-bottom-1631356239 {
    display: none;
  }
  .custom-shape-divider-bottom-1631355392 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .custom-shape-divider-bottom-1631355392 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
  }

  .custom-shape-divider-bottom-1631355392 .shape-fill {
    fill: #0a1723;
  }
}

@media screen and (max-width: 900px) {
  .custom-shape-divider-bottom-1631355392 {
    display: none;
  }
  .custom-shape-divider-bottom-1631356239 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .custom-shape-divider-bottom-1631356239 svg {
    position: relative;
    display: block;
    width: calc(169% + 1.3px);
    height: 83px;
  }

  .custom-shape-divider-bottom-1631356239 .shape-fill {
    fill: #0a1723;
  }

  /** For tablet devices **/
  @media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-bottom-1631356239 svg {
      width: calc(169% + 1.3px);
      height: 129px;
    }
  }

  /** For mobile devices **/
  @media (max-width: 767px) {
    .custom-shape-divider-bottom-1631356239 svg {
      width: calc(167% + 1.3px);
      height: 100px;
    }
  }
}

@media (max-width: 375px) {
  .landing-img {
    max-height: 25vh;
  }
}

@media (min-width: 375px) and (max-width: 1280px) {
  .landing-img {
    max-height: 30vh;
  }
}

@media (min-width: 1280px) {
  .landing-img {
    max-height: 40vh;
  }
}

@media (max-height: 667px) {
  .bottom-landing-links {
    padding-bottom: 3rem;
  }
}
